.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.app-input-fields-container
{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    min-width: 70%;
}

.app-input-fields-wrapper
{
    display: grid;
    height: 100%;
    width: 40%;
    margin-left: 36%;
    grid-template-rows: repeat(6, 15.7%);
    grid-template-columns: repeat(5, 19%);
    grid-gap: 1%;
    padding: 10px;
    box-sizing: border-box;
}

.app-input-fields-info-container
{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.app-input-fields-info-wrapper
{
    display: flex;
    flex-direction: row;
    margin-top: 1px;
    justify-content: left;
    align-items: center;
}

.app-input-fields-info-color
{
    position: relative;
    display: inline-box;
    background: green;
    min-width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-box;
}

.app-input-fields-info-color:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.app-input-fields-info-text
{
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 4px;
}

.app-input-field
{
    display: flex;
    height: 100%;
    border: 1px solid lightgrey;
    font-size: 36px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.app-input-field-wrong
{
    display: flex;
    height: 100%;
    border: 1px solid lightgrey;
    font-size: 36px;
    align-items: center;
    justify-content: center;
    background-color: darkgrey;
    transition: background-color 1000ms linear;
}

.app-input-field-right
{
    display: flex;
    height: 100%;
    border: 1px solid lightgrey;
    font-size: 36px;
    align-items: center;
    justify-content: center;
    background-color: green;
    transition: background-color 1000ms linear;
}

.app-input-field-partly-right
{
    display: flex;
    height: 100%;
    border: 1px solid lightgrey;
    font-size: 36px;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    transition: background-color 1000ms linear;
}

.app-info-text-container
{
    display: flex;
    min-width: 50%;
    min-height: 10vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}

.app-restart-button
{
    display: flex;
    min-width: 40px;
    min-height: 40px;
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
    padding-top: 5px;
    background-color: lightgreen;
    font-size: 24px;
    border: none;
    border-radius: 8px;
}

.app-hidden
{
    display: none;
}


.app-keyboard-container
{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.app-keyboard-wrapper
{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(3, 32%);
    grid-template-columns: repeat(10, 9%);
    grid-gap: 1%;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.app-keyboard-key
{
    display: flex;
    border: 1px solid lightgrey;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.app-keyboard-key-right
{
    display: flex;
    border: 1px solid lightgrey;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    background-color: green;
    transition: background-color 1000ms linear;
}

.app-keyboard-key-wrong
{
    display: flex;
    border: 1px solid lightgrey;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    background-color: lightgrey;
    transition: background-color 1000ms linear;
}

.app-keyboard-key-partly-right
{
    display: flex;
    border: 1px solid lightgrey;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    background-color: yellow;
    transition: background-color 1000ms linear;
}

.app-nav-bar-container
{
    display: flex;
    flex-direction: row;
    min-height: 10vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid lightgrey;
}

.app-nav-bar-header
{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.app-nav-bar-btn-container
{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-right: 50%;
}

.app-nav-bar-btn
{
    max-width: 40%;
    max-height: 60%;
    justify-content: center;
    align-content: center;
    background-color: white;
    border: none;
}

.app-nav-bar-btn-img-active
{
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    align-content: center;
    border: 2px solid black;
}

.app-nav-bar-btn-img
{
    max-width: 100%;
    max-height: 100%;
    border: 1px solid lightgrey;
}
